ROP_image/
ROP_video/
ropenv/
models/
data/
runs/
london-buses.jpg
london-buses.jpg
inference/
result.txt
result.jpg
1696_lens_inference.mp4
1702_segmentation_inference.mp4
1703_segmentation_inference.mp4
